{{ define "main" }}

{{ $permalink := .RelPermalink }}
{{ $date := .Date.Format "January 2, 2006" }}
{{ $lastmod := .Lastmod.Format "January 2, 2006" }}

<div class="flex h-screen relative">

  <style>
    pre{ 
       white-space: pre-wrap; 
       word-break: break-word;
    }
  </style>

  <section
    class="will-change-transform transform transition-transform -translate-x-[200%] absolute top-0 left-0 lg:relative
  lg:translate-x-0 lg:min-w-[400px] lg:w-1/4 h-full bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 lg:flex flex-col py-3 overflow-y-auto scroll-area">
    {{$Section := .Site.GetPage "section" .Section }}
    {{ with $Section }}
    <a href="{{ .Permalink }}">
      <h2 class="font-bold mb-5 py-1 pl-12 pr-3 md:px-3">{{ .Title }}</h2>
    </a>
    {{- partial "search.html" . -}}
    <div class="space-y-2.5">
      {{ range .Data.Pages -}}
      {{ $isCurrentPage := eq .RelPermalink $permalink }}
      <a class="article block px-3 py-4 {{ if $isCurrentPage }} bg-slate-900 dark:bg-slate-700 text-slate-50 {{ else }} hover:bg-slate-200 dark:hover:bg-slate-700 {{ end }}"
        href="{{ .RelPermalink }}">
        {{ $title := .Params.title }}
        {{ with .Params.images }}
        {{- range first 1 . }}
        <img class="rounded max-w-full mb-4" src="{{ . }}" alt="{{ $title }}" />
        {{ end -}}
        {{ end }}
        <h3 class="text-lg font-semibold mb-0.5">{{ $title }}</h3>
        <div
          class="text-sm {{ if $isCurrentPage }} text-slate-400 {{ else }} text-slate-500 dark:text-slate-400 {{ end }} line-clamp-3">
          {{ .Description }}
        </div>
      </a>
      {{ end -}}
    </div>
    {{ end -}}
  </section>

  <div class="overflow-y-auto h-screen w-full">
    <article class="px-6 py-20 w-full mx-auto prose lg:prose-lg h-fit dark:prose-invert prose-img:mx-auto">

      {{ $title := .Params.title }}
      <h1 class="!mb-2">{{ $title }}</h1>

	  {{ if .Date }}
      <p class="text-sm text-slate-500 !mb-8"> Planted {{ $date }}
		{{ if ne $lastmod $date}}
			<br/> Last tended to on {{ .Lastmod.Format "January 2, 2006" }}
        {{ end }}
      <br/>
      {{ if gt .ReadingTime 1 }}
        {{ .Scratch.Set "readingTime" "minutes" }}
      {{ else }}
        {{ .Scratch.Set "readingTime" "minute" }}
      {{ end }}
      Reading time: {{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}
      <br/> Tags:
      {{ with .Param "tags" }}
        {{ range $index, $tag := (. | sort) }} 
          {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
            <a href="{{ .Permalink }}">#{{ $tag | urlize }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
	  </p>
      {{ end }}

      {{ with .Params.images }}
      {{- range first 1 . }}
      <img class="rounded max-w-full mx-auto mb-4" src="{{ . }}" alt="{{ $title }}" />
      {{ end -}}
      {{ end }}

      {{ .Content }}
      <hr>
      {{- partial "shortcodes/buymeacoffee.html" . -}}

      {{/*  Add related posts  */}}
      
      {{/*  loop through posts with same tags as post  */}}
      {{- range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) -}}
        {{- $.Scratch.Set "has_related" true -}}
      {{- end -}}

      {{/* display up to three related posts on the page  */}}
      {{ if $.Scratch.Get "has_related" }}
          <div class="related-content">
              <h3>Related Posts</h3>
              <ul>
                  {{- $num_to_show := .Site.Params.related_content_limit | default 3 -}}
                  {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                  <li>
                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                      &ndash; 
                      <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05-0700" }}">
                          {{ .Date.Format "January 2, 2006" }}
                      </time>
                      <br> 
                      <small>{{ .Description | plainify | htmlUnescape }}</small>
                  </li>
                {{ end }}
              </ul>
          </div>
      {{ end }}
    </article>
  </div>

</div>

{{ end }}